p.verso{
    color: blue;
}
p.mote{
    color:red;
}
a:link{
    color:pink;
}
a:visited{
    color: red;
}
a:hover{
    color:orange;
}
.poeta{
    border-radius:50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FF746C;
    color: white;
  }